<div class="credit" nsfw={{this.nsfw}}>
    <img class="pfp"></img>
    <div class="info">
        <div class="name">
            <a href="{{this.link}}" title="{{this.caption}}"><span>{{this.name}}</span><div></div></a> • <span>{{#if this.nsfw}}NSFW{{else}}SFW{{/if}}</span>
        </div>
        <div class="contribution">{{this.contribution}}</div>
    </div>
</div>